*{
	margin: 0;
	box-sizing: border-box;
}

body{
	background:#CCC;
	
}

header{

	display: flex;
    flex-direction: row;
    background-color: #47000b;
    justify-content: space-between;
    height: 95px;
    align-items: center;
    width: 100%;
	padding: 10px;

}

.menuPrincipal ul{
	display: flex;
	flex-direction: row;
	text-decoration: none;
	list-style: none;
	margin-right: 10px;
}

.menuPrincipal a{
	margin-right: 25px;
	text-decoration: none;
	font-size: 20px;
	color: goldenrod;
}


#enlaceSub:hover ~ ul{
	display: block;
}

#submenu{
	display: flex;
    flex-direction: column;
    width: 150px;
    height: 185px;
    background-color: #610a00;
    position: absolute;
    top: 76px;
    align-items: flex-end;
	justify-content: space-around;
	display: none;
	padding: 20px;

}

#submenu li{
	margin-bottom: 15px;
}

#logo{
	display: flex;
    align-items: center;
}

#logo a{
	color:goldenrod;
	text-decoration: none;
	font-size: 36px;
	font-weight: 700;
	margin-left: 8px;
}

.Inicio{

	background-image: url(imageFondo.jpg) ;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 90vh;
	display: flex;

}

.infoInicio{

	width: 575px;
	height: 685px;
	margin: auto;
	border: 2px solid rgb(136, 0, 0);
	background-color: #36363683;
	border-radius: 5%;
	padding: 10px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    text-align: center;
    color: white;
}

.tituloFron{
    margin-bottom: 25px;
}


#formulario{
    width: 98%;
    height: 650px;
    margin: auto;
    border: 2px solid #c17b00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

}

.caja-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
    width: 85%;
    margin-left: 80px;
    align-items: flex-start;
}

.caja-input input{
    width: 80%;
    height: 30px;
}

.caja-input label{
    color: white;
    margin-bottom: 5px;
}

.btnRegistro{
	width:240px;
	height: 55px;
	background-color: #771200;
	color: white;
	border: 1px solid rgb(248, 167, 17);
	border-radius: 12px;
	font-size: 28px;
    font-weight: 700;
    letter-spacing: 4px;
    margin-top: 25px;

}

.btnRegistro:hover{
	background-color: #8a0015;
}

.JugadoresExt{
	width: 100%;
    height: 150vh;
    display: flex;
	flex-direction: column;
    align-items: center;
	background-image: linear-gradient(360deg, rgb(122, 37, 0), rgb(34, 34, 34));
	padding: 15px;

}

.cajaCentrada{
	width: 80%;
	height: 680px;
	display: flex;
	flex-direction: row-reverse;
    margin-bottom: 60px;
}

.imagenJug{
	width: 50%;
	height: 100%;
	background-image: url(yordan_osorio.jpg);
	background-size: cover;
	background-position: center;

}

.imagenJug1{
	width: 50%;
	height: 100%;
	background-image: url(yangel_herrera.jpg);
	background-size: cover;
	background-position: center;

}

.descripcion{
	width: 50%;
	height: 100%;
	padding: 15px;
}

.descripcion h2{
	font-size: 44px;
	color: white;
	margin-bottom: 25px;
	margin-top: 20px;
}

.descripcion p{
	font-size: 24px;
	color: rgb(255, 255, 255);
	margin-bottom: 25px;
}

.descripcion button{
	width:300px;
	height: 60px;
	background-color: #771200;
	color: white;
	border: 1px solid rgb(248, 167, 17);
	border-radius: 12px;
	font-size: 28px;
    font-weight: 700;
    letter-spacing: 4px;

}

.descripcion a{
	text-decoration: none;
	color: rgb(255, 255, 255);
}	



footer{
    background-color: hsl(0deg 0% 20.62%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 0px 0px;
}

.footerSuperior{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 15px;
}

footer .contactos{
    background-color: #121212;
    width: 50%;
    height: 320px;
    margin-right: 15px;
    padding-left: 20px;
    padding-top: 15px;
}

#redesSociales{
    margin-bottom: 15px;
}


.bi{

    font-size: 32px;
    margin-right: 20px;
    color: black;
}

.bi:hover{
    color: #404142;
}

.bi-facebook{
    color: blue;
}

.bi-twitter-x{
    color: black
}

.bi-instagram{
    color: rgb(255, 38, 31);
}

.bi-whatsapp{
    color: rgb(7, 153, 7);
}

footer .ubicacion{
    display: flex;
    flex-direction: column;
    background-color:#121212;
    width: 50%;
    height: 320px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 12px;
    margin-left: 15px;
}


iframe{
    width: 500px;
}

.mensaje{
	width: 100%;
}

.formulario{
	width: 60%;
	display: flex;
	flex-direction: column;
	margin: auto;

}

.formulario form{
	width: 400px;
	height: 250px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin-top: 15px;

}

#caja{
	width: 360px;
	height: 180px;
	margin-bottom: 20px;
}

#btnEnviar{
	width: 80px;
	height: 40px;
	background-color: #00776f;
	color: white;
	border: 1px solid wheat;
	border-radius: 5px;
}

footer .piePagina{
    align-items: center;
    background-color:hsl(0deg 0% 20.62%);
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}